header {
    background: #333;
    color: #fff;
    padding: 5px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  header {
    background: #333;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  .blinking-cursor {
    font-weight: bold;
    font-size: 24px;
    color: black;
    animation: blink 0.75s staep-end infinite;
  }
  
  @keyframes blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  